@model List<Category>

<style>
    .table td, .table th {
        padding: 10px;
        vertical-align: middle;
    }
</style>

<div class="card mx-auto shadow border-0 mt-4 col-12 col-md-9">
    <div class="card-header p-0 bg-primary bg-gradient" style="background-color: #7885FF">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2 fw-semibold text-white">Category List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 pt-3">
        <div class="row pt-0 pb-3">
            <div class="col-6"></div>
            <div class="col-6 text-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-square-fill"></i> Add new category
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Display Order</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td>@obj.DisplayOrder</td>
                        <td class="d-flex justify-content-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2 ">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2 ">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
